<main>
    <div>
        <h1>שלום עליכם</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <a href="/newpost">New Post</a>
        </nav>
    </div>
</main>