<h3>Siga as orientações abaixo para criar o seu novo Post</h3>

<form action="/addpost" method="POST">
    <fieldset>
        <label id="name">Nome:</label>
        <input type="text" name="title" id="name"/>
        <label id="content">Conteúdo:</label>
        <input type="text" name="content" id="content"/>
    </fieldset>
    <input type="submit" value="Enviar">
</form>