<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Handlebars</title>
        <link rel="stylesheet" href="css/globals.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>